<!DOCTYPE html>
<html>
	<head>
		<title>Glitter</title>
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<header>
			<a href="/users/new" style="float: right;">Sign Up</a>
		</header>
		<div id="wrapper">
			<h1><a href="/">Glitter!</a></h1>
			<%= yield %>
		</div>
		<!-- <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>-->
	</body>
</html>