<h1>Glitter Signup!</h1>

<form action="/users/new" method="POST">
	<label for="fullname">Full Name</label>
	<input type="text" name="fullname"/>
	<label for="email">Email</label>
	<input type="text" name="email"/>
	<label for="passowrd">Username</label>
	<input type="text" name="username"/>
	<label for="passowrd">Password</label>
	<input type="text" name="first_name"/>
	<input type="submit"/>
</form>