<h1>Glitter Signup!</h1>

<form action="/users/new" method="POST">
	<label for="fullname">Full Name</label>
	<input type="text" name="[profile]fullname"/>
	<label for="email">Email</label>
	<input type="text" name="[profile]email"/>
	<label for="username">Username</label>
	<input type="text" name="[user]username"/>
	<label for="password">Password</label>
	<input type="password" name="[user]password"/>
	<input type="submit"/>
</form>